@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Font family*/
$font-family: 'Roboto', sans-serif;

/*Paleta de Colores*/
$color-background: HONEYDEW;
$color-font-h1: hsl(44, 57%, 30%);
$color-font-h2:  hsl(51, 39%, 54%);
$color-title: hsl(207, 51%, 53%);
$color-link-1: ORCHID;
$color-link-2: MEDIUMTURQUOISE;
$color-link-3: SALMON;

/*Tamaño de letras*/
$size-menu: 15px;


body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

a {
    text-decoration: none;
}

.header {
    background: $color-background;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    &__a {
        &__img
        {
            width: 65px;
        }
    }
    .menu {
        display: flex;
        list-style-type: none;
        &__item {
            font-size: $size-menu;
            padding: 15px;
        }
    }
}

.main {
    text-align: center;
    &__h1 {
        color: $color-font-h1;
    }
    &__h2 {
        color: $color-font-h2;
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    background: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        width: 200px;
        height: 120px;
        object-fit: cover;
    }
    &__title {
        color: $color-title;
    }
    &__subtitle {
        margin-top: 0px;
    }
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    &__button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid $color-background;
    }
}

.footer {
    background: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    p {
        margin: 0px;
    }
    &__links {
        margin: 15px 0px;
        &__link-1 {
            color: $color-link-1;
        }
        &__link-2 {
            color: M$color-link-2;
        }
        &__link-3 {
            color: $color-link-3;
        }
    }
  }
  